html, body {
  min-height: 100vh;
}

body {
  
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(to bottom right, #6D678E, #F6B5CC);
}
.timer {
  background: #fdb3e2;
  margin: 24px;
  font-family: sans-serif;
  display: inline-flex;
  padding: 26px 32px;
  border-radius: 30px;
}
.timer__part {
  font-size: 36px;
  font-weight: bold;
}
.timer__btn {
  width: 50px;
  height: 50px;
  margin-left: 16px;
  border-radius: 50%;
  border: none;
  color: white;
  background-image: linear-gradient(to top right, #591da9, #051960);
  cursor: pointer;
}
.timer__btn--start {
  background: #42BE2A;
}
.timer__btn--stop {
  background: #ff0256;
}


.aside {
  height: 400px;
}
.main {
  height: 400px;
}
.d-flex {
  display: flex;
}
.task-title {
  font-weight: 400;
  padding-top: 5px;
}
.gray {
  color: #BDBDBD;
}
.task-title--done {
  text-decoration: line-through;
  color: #CDCDCD;
}
.task-item__buttons {
  display: flex;
  column-gap: 5px;
}
.notify-holder {
  height: 60px;
  margin-bottom: 20px;
}
.empty-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.empty-list__title {
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: 300;
}
.empty-list__icon {
  color: #42BE2A;
  font-size: 32px;
}
.btn-action {
    background-color: #e0e5ea;
    padding: 8px 10px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    transition: opacity 0.2s ease-in;
    opacity: 0.5;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-action:hover {
    background-color: #e0e5ea;
    opacity: 1;
}

.btn-action img {
  pointer-events: none;
}

.none {
  display: none !important;
}

.float-right {
  float: right;
}
